﻿<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title - VirusaNet</title>
    @*<meta name="description" content="">*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/adminka.css" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery.datetimepicker-2.5.4.min.css" />
    <link rel="stylesheet" href="~/css/lightbox.min.css" />

    @RenderSection("Head", false)
</head>
<body>
    <nav class="navbar navbar-dark bg-warning navbar-fixed-top navbar-full">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
            <span class="navbar-brand">VirusaNet</span>
            @{ await Html.RenderPartialAsync("_TopMenu"); }
        </div>
    </nav>

    <div class="@((ViewBag.ContainerFluid ?? false) ?  "container-fluid" : "container")">
        <h1 class="m-b-2 @((ViewBag.TitleAsDisplay ?? false ? "display-4" : string.Empty))">@ViewBag.Title <small class="text-muted">@ViewBag.Subtitle</small></h1>
        @RenderBody()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    <script src="~/js/jquery.datetimepicker-2.5.4.full.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datetimepicker({
                lang: 'ru',
                timepicker: false,
                dayOfWeekStart: 1,
                format: 'd.m.Y'
            });
            $('.monthpicker').datetimepicker({
                lang: 'ru',
                timepicker: false,
                format: 'm.Y',
                onGenerate: function (dp, $input) {
                    $input.val($input.val().substr(3,7));
                },
                onChangeMonth: function (dp, $input) {
                    $input.val($.format.date(dp, "MM.yyyy"));
                }
            });
            $('.datetimepicker').datetimepicker({
                lang: 'ru',
                format: 'd.m.Y H:i',
                dayOfWeekStart: 1,
                allowTimes: [
                    '00:00',
                    '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30',
                    '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30',
                    '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30',
                    '20:00', '20:30', '21:00', '21:30', '22:00'
                ],
            });

            $('[data-toggle="tooltip"]').tooltip()

        });
    </script>
    <script src="~/js/lightbox.min.js" ></script>

    @RenderSection("Scripts", false)
</body>
</html>