﻿@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager
@if (await authorizationService.AuthorizeAsync(User, null, Startup.PolicyNameDrugstore))
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action(Home.IndexRoute())">Главная страница</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action(Transactions.IndexRoute(null,null))">Журнал продаж</a>
        </li>
    </ul>
}

<ul class="nav navbar-nav pull-sm-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">@userManager.GetUserName(User)</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript: document.getElementById('logoutForm').submit()">Выход</a>
        </div>
    </li>
</ul>

@using (Html.BeginForm(FormMethod.Get, new { @id = "logoutForm", action = Url.Action(Olekstra.VirusaNet.Public.Controllers.Account.LogoutRoute()) }))
{
    // Nothing
}
