﻿@model List<DrugstoresViewModel>
@{
    ViewBag.Title = Drugstores.Title;
    var search = (string)ViewBag.Search;
}
@using (var form = Bootstrap.BeginForm(FormType.Inline))
{
    @Html.AntiForgeryToken()
    @form.GroupFor(m => search).Control(@Bootstrap.Input().Placeholder("Поиск...").Attribute("size", "50"))
    @form.Group().Content(Bootstrap.Button("Найти"))
}

@Bootstrap.P()

@if (ViewBag.NothingFound != null && ViewBag.NothingFound)
{
    @Bootstrap.Alert(AlertType.WarningOrange, "К сожалению по заданным условиям ничего не найдено.")
}

@using (var table = Bootstrap.BeginTable(TableStyles.Responsive | TableStyles.Hover | TableStyles.Small))
{
    using (table.BeginHeader(TableHeaderStyle.DefaultGray))
    {
        @table.Row().HeaderCells("Название", "Часовой пояс", "Статус", "Пользователи", Bootstrap.Anchor("Добавить").Href(Drugstores.CreateRoute()))
    }
    using (table.BeginBody())
    {
        foreach (var item in Model)
        {
            using (table.BeginRow())
            {
                @table.TD(Bootstrap.Anchor(item.Name).Href(Drugstores.DetailsRoute(item.Id)))
                @table.TD(TimeZoneService.GetTimeZoneByIdOrDefault(item.Timezone).ToString())
                @(table.TD()
                    .Content(item.IsLocked ? Bootstrap.Label(LabelType.DefaultGray, "Отключена") : Bootstrap.Label(LabelType.SuccessGreen, "Активна")))
                using (table.TD().BeginContent())
                {

                    foreach (var user in item.Users)
                    {
                        @Bootstrap.Anchor(user.Name).Href(Drugstores.EditUserRoute(user.Id))
                        if (user.IsArchived)
                        {
                            @(" ")
                            @Bootstrap.Label(LabelType.DefaultGray, "В архиве")
                        }
                        <br />
                    }
                }

                @table.TD(Bootstrap.Anchor("Изменить").Href(Drugstores.EditRoute(item.Id)), " | ", Bootstrap.Anchor("Удалить").Href(Drugstores.DeleteRoute(item.Id)), Html.Raw("<br/>"), Bootstrap.Anchor("Добавить пользователя").Href(Drugstores.CreateUserRoute(item.Id))).CssClass("small")
            }
        }
    }
}
