/*Registration and Login Page v1
------------------------------------*/
.reg-page {
	color: #55d;
	padding: 30px;
	background: #fefefe00;
	border: solid 1px #c5c5c5;
	box-shadow: 0 0 3px #dddddd;
	background: rgba(255, 255, 255, 0.59);
}
.reg-header h2, h6 {
	color: #000;
}


/*Reg Header*/
.reg-header {
	color: #610c0c;
	text-align: center;
	margin-bottom: 35px;
	border-bottom: solid 1px #eee;
}

.reg-header h2 {
	font-size: 24px;
	margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
	color: #616161;
}