﻿@model Transaction
@{
    ViewBag.Title = "Добавить фото (скан) чека";
}

<dl>
    <dt>Время начала</dt>
    <dd>@Model.StartTime</dd>
    <dt>Код подтверждения</dt>
    <dd>@Model.ConfirmationCode</dd>
    @if (!string.IsNullOrEmpty(Model.ScanFileName))
    {
        <dt>Приложенный скан\фото</dt>
        <dd>
            <a href="@Url.Action(Files.GetImageRoute(Model.Id))" target="blank" data-lightbox="scan"><img src="@Url.Action(Files.GetImageRoute(Model.Id))" width="250" /></a>
        </dd>
    }
</dl>


@using (var form = Bootstrap.BeginForm(FormEnctype.Multipart))
{
    @Bootstrap.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    @form.Group().Label("Приложить чек").Control(Bootstrap.InputFile().Attribute("name", "file"))


    @using (form.BeginGroup())
    {
        @Bootstrap.Button(ButtonType.InfoCyan, "Загрузить")
        @Bootstrap.Button(ButtonType.SecondaryWhite, "Отмена").Href(Transactions.IndexRoute(null,null))
    }
}

