﻿@model List<Transaction>
@{
    ViewBag.Title = "Продажи, ожидающие скан/фото чека";

}
@using (var table = Bootstrap.BeginTable(TableStyles.Striped))
{
    using (table.BeginHeader(TableHeaderStyle.DefaultGray))
    {
        @table.Row().HeaderCells("Время начала", "Код подтверждения", "")
    }
    foreach (var item in Model)
    {
        using (table.BeginRow())
        {
            @table.TD(item.StartTime.ToString())
            @table.TD(item.ConfirmationCode)
            @table.TD(Bootstrap.Button(ButtonType.SecondaryWhite, Html.Raw("<i class=\"fa fa-camera\" aria-hidden=\"true\"></i> "), "Приложить").Size(ButtonSize.Small).Href(Transactions.AddScanRoute(item.Id)))
        }
    }
}