﻿@model BusinessRulesOptions.AllowedCardStep
@{
    ViewBag.Title = "Последний шаг";
    ViewBag.TitleAsDisplay = true;

    var token = Html.AntiForgeryToken();
}
<p class="lead text-success">Замечательно. Контрольный код введен верно. Теперь можно отпустить препарат покупателю.</p>
<p>Переключитесь в основную кассовую программу и оформите продажу (<code>@Model.Name</code> по цене <code>@Model.Price</code>). После этого <b>не отдавая фискальный чек</b> вернитесь на эту страницу.</p>

<hr/>

<h4>Пробили чек?</h4>
<p>Сфотографируйте его так, чтобы весь текст (включая служебный) читался и не был закрыт пальцем или загнут. Сделайте несколько фотографий, пока не получите удовлетворительный результат, и только после этого отдайте чек покупателю.</p>
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(new GridSize(0, 0, 8, 6, 6), new GridSize(0, 0, 2, 2, 2)))
    {

        <p class="text-success">Получилось? Нажмите зеленую кнопку:</p>
        using (Bootstrap.BeginForm())
        {
            @token
            @Html.Hidden("success", "1")
            @Bootstrap.Button(ButtonType.SuccessGreen, "Продажа успешно выполнена, фотография сделана").BlockSize()
        }

        <hr />

        <p class="text-danger">Продажа не состоялась (покупатель отказался, сломалась касса, ...) и в итоге фискального чека нет? Нажмите красную кнопку:</p>
        using (Bootstrap.BeginForm())
        {
            @token
            @Html.Hidden("success", "2")
            @Bootstrap.Button(ButtonType.DangerRed, "Продажа была отменена, чек не был оформлен").BlockSize()
        }
    }
}
<p>&nbsp;</p>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('form').submit(function () { $('button').attr('disabled', 'disabled'); })
        });
    </script>
}