﻿@{
    ViewBag.Title = "Готово";
    ViewBag.TitleAsDisplay = true;
}
<p class="lead text-success">Всё. Продажа успешно выполнена. Отдайте чек покупателю (если еще не отдали) и пожелайте ему успехов.</p>
<p>Если у покупателя есть какие-либо вопросы по Программе, то на эти вопросы ему ответят в службе поддержки, телефон которой указан в его памятке.</p>

<p><a class="btn btn-outline-primary" href="@Url.Action(Home.IndexRoute())">Перейти на главную страницу</a></p>
