﻿@model TransactionConfirmViewModel
@{
    ViewBag.Title = "Телефон проверен";
    ViewBag.Subtitle = Model.Phone.ToBeautyPhone();
    ViewBag.TitleAsDisplay = true;
}
<div class="lead">
    <p class="text-success">Отлично, покупатель с таким номером телефона действительно участвует в программе.</p>
    <p>Данный покупатель имеет право приобрести <code>@Model.Step.Name</code> по цене <code>@Model.Step.Price</code>.</p>
</div>
<p>Пожалуйста убедитесь, что данный препарат есть у вас в наличии (найдите его на полке), и что вы знаете как отпустить его по этой специальной цене. <b>Но пока что не пробивайте чек!</b></p>
<p>Для проверки личности покупателя на его телефон была отправлена СМС с контрольным кодом. Спросите у покупателя этот код, введите его в поле ниже и нажмите кнопку «Проверить код»</p>
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(new GridSize(0, 8, 6, 6, 6), new GridSize(0, 2, 3, 3, 3)))
    {
        using (Bootstrap.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            @Bootstrap.FormGroupFor(m => m.ConfirmationCode, "Контрольный код").Control(Bootstrap.Input().Size(6, 6, 8, 6, 6).Attribute("pattern", @"\d{6}").Attribute("autofocus", "autofocus").Attribute("autocomplete", "off").CssClass("form-control-lg"))

            @Bootstrap.FormGroup().Content(Bootstrap.Button(ButtonType.WarningOrange, "Проверить код").Size(ButtonSize.Large))

            @* see issue #16
            @using (Bootstrap.BeginFormGroup())
            {
                @Bootstrap.HelpBlock("Обычно СМС с кодом приходит в течение минуты. Если прошло больше времени, то можно отправить тот же код ещё раз.").CssClass("small text-info")
                @Bootstrap.Button(ButtonType.InfoCyan, "Отправить код ещё раз").Outline().Size(ButtonSize.Small)
            }*@

            @* see issue #17
            @using (Bootstrap.BeginFormGroup())
            {
                @Bootstrap.HelpBlock("Если покупатель не может сообщить правильный код, взял и ушел, или ещё по какой-то причине вы понимаете, что продолжения не будет, то надо отменить данную продажу.").CssClass("small text-danger")
                @Bootstrap.Button(ButtonType.DangerRed, "Отменить данную продажу").Outline().Size(ButtonSize.Small)
            }*@
        }
    }
}
