﻿@model List<Transaction>
@{
    ViewBag.Title = "Журнал продаж";

    var from = (DateTime)ViewBag.From;
    var to = (DateTime)ViewBag.To;
}

@using (var form = Bootstrap.BeginForm(FormType.Inline))
{
    @Bootstrap.ValidationSummary()

    @Html.AntiForgeryToken()

    @form.GroupFor(m => from).Label("С").Control(Bootstrap.InputDate().CssClass("datepicker"))
    @form.GroupFor(m => to).Label("По").Control(Bootstrap.InputDate().CssClass("datepicker"))

    using (form.BeginGroup())
    {
        @Bootstrap.Button(ButtonType.PrimaryBlue, "Показать").Size(ButtonSize.Small)
    }
}
@Bootstrap.P("")
@using (var table = Bootstrap.BeginTable(TableStyles.Striped))
{
    using (table.BeginHeader(TableHeaderStyle.DefaultGray))
    {
        @table.Row().HeaderCells("Время начала", "Код подтверждения", "Status","")
    }
    foreach (var item in Model)
    {
        using (table.BeginRow())
        {
            @table.TD(item.StartTime.ToString())
            @table.TD(item.Status == TransactionStatus.Started ? "******" : item.ConfirmationCode)
            @table.TD(item.Status.GetDescription());
            if (item.Status == TransactionStatus.Completed || item.Status == TransactionStatus.AwaitingValidation)
            {
                @table.TD(Bootstrap.Button(ButtonType.SecondaryWhite, Html.Raw("<i class=\"fa fa-camera\" aria-hidden=\"true\"></i> "), "Приложить").Size(ButtonSize.Small).Href(Transactions.AddScanRoute(item.Id)))
            }
            else
            {
                @table.TD("")

            }

        }
    }
}