﻿@model CardDetailsViewModel
@{
    ViewBag.Title = Model.Card?.GetFormattedId() ?? Model.Query;
    ViewBag.Subtitle = Model.Card?.GetStatusText();

    var tzDefault = TimeZoneService.GetTimeZoneByIdOrDefault(TimeZoneService.DefaultTimezoneId);
}

@if (Model.Message != null)
{
    @Bootstrap.Alert(Model.Card == null ? AlertType.DangerRed : AlertType.InfoCyan, Model.Message)
    if (Model.Card == null)
    {
        @Bootstrap.Button(ButtonType.DangerRed, "Назад").Size(ButtonSize.Large).Href("javascript: history.back();")
    }
}

@if (Model.Card != null)
{
    using (Bootstrap.BeginGridRow())
    {
        using (Bootstrap.BeginGridCol(0, 6, 6, 6, 6))
        {
            var regTime = TimeZoneInfo.ConvertTime(Model.Card.RegTime, tzDefault);
            var validationTime = TimeZoneInfo.ConvertTime(Model.Card.ValidationTime, tzDefault);

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">@Model.Card.GetFormattedId()</h4>
                    <h6 class="card-subtitle text-muted">Статус: @Model.Card.GetStatusText()</h6>
                </div>
                <div class="card-block p-t-0">
                    <ul class="list-unstyled card-text">
                        <li>Телефон: @Model.Card.Phone</li>
                        <li>Время регистрации: @Html.DisplayFor(m => regTime)</li>
                        <li>
                            Проверка: <span class="@(Model.Card.ValidationStatus == CardValidationStatus.Rejected ? "text-warning" : (Model.Card.ValidationStatus == CardValidationStatus.Unknown ? "text-danger" : "text-success"))">@Model.Card.ValidationStatus.GetDescription()</span>
                            @if (Model.Card.ValidationStatus == CardValidationStatus.Unknown)
                            {
                                @Bootstrap.Button("Проверить").Size(ButtonSize.Small).Href(Cards.ValidateRoute(Model.Card.Id))
                            }
                        </li>
                        <li>Время проверки: @Html.DisplayFor(m => validationTime)</li>
                        <li>Блокировка: @(Model.Card.IsLocked ? "ДА" : "нет")</li>
                    </ul>
                    @if (!string.IsNullOrEmpty(Model.Card.Comment))
                    {
                        <p class="card-text"><small class="text-muted">@Model.Card.Comment</small></p>
                    }
                </div>
                @if (!string.IsNullOrEmpty(Model.Card.Phone))
                { 
                    <div class="card-block p-t-0">
                        @Bootstrap.Anchor("Cкан паспорта").CssClass("card-link").Href(Cards.ImageRoute(Model.Card.Id, "passport.jpg")).Attribute("data-lightbox", "Паспорт")
                        @Bootstrap.Anchor("Cкан рецепта").CssClass("card-link").Href(Cards.ImageRoute(Model.Card.Id, "recipe.jpg")).Attribute("data-lightbox", "Назначение врача")
                    </div>
                }
            </div>
        }

        using (Bootstrap.BeginGridCol(0, 6, 6, 6, 6))
        {
            <div class="card">
                <div class="card-header">Этапы (покупки)</div>
                @if (Model.CardSteps == null || Model.CardSteps.Count == 0)
                {
                    <div class="card-block">
                        <p class="card-text text-warning">Еще не зарегистрировано ни одной покупки</p>
                    </div>
                }
                else
                {
                    <ul class="list-group list-group-flush m-t-0">
                        @foreach (var item in Model.CardSteps)
                        {
                            var tzDefaultOpenTime = TimeZoneInfo.ConvertTime(item.OpenTime, tzDefault);

                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">Этап @item.StepNumber</h5>
                                <p class="list-group-item-text">Начиная с: @Html.DisplayFor(m => tzDefaultOpenTime) @if (item.IsOpenNotificationSent) { @Bootstrap.Label(LabelType.DefaultGray, "SMS OK").Pill().Attribute("title", "SMS-оповещение отправлено") }</p>
                                <p class="list-group-item-text">Транзакция: @(item.TransactionId.HasValue ? (object)Bootstrap.Anchor(item.TransactionId.ToString().Substring(0, 7)).Href(Transactions.DetailsRoute(item.TransactionId.Value)) : "- нет -")</p>
                            </li>
                        }
                    </ul>
                }
            </div>
        }

        using (Bootstrap.BeginGridCol(0, 6, 6, 6, 6))
        {
            <div class="card">
                <div class="card-header">История действий</div>
                <ul class="list-group list-group-flush m-t-0">
                    @foreach (var item in Model.CardHistories)
                    {
                        var time = TimeZoneInfo.ConvertTime(item.Time, tzDefault);
                        <li class="list-group-item">
                            <p class="list-group-item-text">@item.Comment</p>
                            <p class="list-group-item-text small text-muted">@item.User.Name, @Html.DisplayFor(m => time)</p>
                        </li>
                    }
                </ul>
            </div>
        }

        using (Bootstrap.BeginGridCol(0, 6, 6, 6, 6))
        {
            <div class="card">
                <div class="card-header">Транзакции по листовке</div>
                @if (Model.Transactions == null || Model.Transactions.Count == 0)
                {
                    <div class="card-block">
                        <p class="card-text text-warning">Ещё не было ни одной транзакции</p>
                    </div>
                }
                else
                {
                    <ul class="list-group list-group-flush m-t-0">
                        @foreach (var item in Model.Transactions)
                        {
                            var tzDrugstore = TimeZoneService.GetTimeZoneByIdOrDefault(item.Drugstore.Timezone);
                            var time = TimeZoneInfo.ConvertTime(item.StartTime, tzDefault);
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">@item.Status.GetDescription() <small class="text-muted">@Bootstrap.Anchor(item.Id.ToString().Substring(0, 7)).Href(Transactions.DetailsRoute(item.Id))</small></h5>
                                <p class="list-group-item-text">@Html.DisplayFor(m => time)</p>
                                <p class="list-group-item-text">@item.Drugstore.Name</p>
                                <p class="list-group-item-text">Этап: <b>@item.StepNumber</b>, Код подтверждения: <b>@item.ConfirmationCode</b></p>
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    }
}
