﻿@model Transaction
@{
    ViewBag.Title = Transactions.Title;
    ViewBag.Subtitle = Model.Id.ToString().Substring(0, 7);

    var history = (List<TransactionHistory>)ViewBag.History;

    var tzDefault = TimeZoneService.GetTimeZoneByIdOrDefault(TimeZoneService.DefaultTimezoneId);

    var scans = (string[])ViewBag.Scans;
}
@using (var form = Bootstrap.BeginForm(FormType.Horizontal))
{
    var tzDrugstore = TimeZoneService.GetTimeZoneByIdOrDefault(Model.Drugstore.Timezone);

    var startTimeDefault = TimeZoneInfo.ConvertTime(Model.StartTime, tzDefault);
    var startTimeDrugstore = TimeZoneInfo.ConvertTime(Model.StartTime, tzDrugstore);
    var statusText = Model.Status.GetDescription();
    var cardFormattedId = Model.Card.GetFormattedId();

    @form.GroupFor(m => m.Id).Label("Id").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => startTimeDefault).Label("Дата/время").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => m.Drugstore.Name).Label("Аптека").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => startTimeDrugstore).Label("Дата/время аптеки").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => cardFormattedId).Label("Листовка").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => m.StepNumber).Label("Этап").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => m.ConfirmationCode).Label("Проверочный код").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => statusText).Label("Статус").Control(Bootstrap.Input().Disabled())

    using (form.BeginGroup("Сканы чеков"))
    {
        if (scans == null || scans.Count() == 0)
        {
            @Bootstrap.Alert(AlertType.WarningOrange, "Внимание! Скан\\фото чека для транзакции не найден!")
        }
        else
        {
            using (var list = Bootstrap.BeginList(ListType.Inline))
            {
                foreach (var scan in scans)
                {
                    using (list.BeginItem())
                    {
                        <a href="@Url.Action(Files.GetImageRoute(Model.Id, scan))" data-lightbox="scans"><img src="@Url.Action(Files.GetImageRoute(Model.Id, scan))" height="150" /></a>
                    }
                }
            }
        }
    }

    using (form.BeginGroup())
    {
        if (Model.Status == TransactionStatus.AwaitingValidation)
        {
            @Bootstrap.Button("Проверить").Href(Transactions.ValidateRoute(Model.Id))
        }
    }
}

<h4>История действий</h4>
@using (var table = Bootstrap.BeginTable(TableStyles.Small | TableStyles.Hover))
{
    using (table.BeginHeader())
    {
        @table.Row().HeaderCells("Дата/время", "Пользователь", "Описание")
    }
    using (table.BeginBody())
    {
        foreach (var item in history)
        {
            using (table.BeginRow())
            {
                var localTime = TimeZoneInfo.ConvertTime(item.Time, tzDefault);
                @table.TD(Html.DisplayFor(m => localTime))
                @table.TD(item.User.Name)
                @table.TD(item.Comment)
            }
        }
    }
}