﻿@model Transaction
@{
    ViewBag.Title = Transactions.Title;
    ViewBag.Subtitle = "Проверка";

    var comment = (string)ViewBag.Comment;

    var scans = (string[])ViewBag.Scans;
}
@using (var form = Bootstrap.BeginForm(FormType.Horizontal))
{
    @Bootstrap.ValidationSummary()

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    var tzDefault = TimeZoneService.GetTimeZoneByIdOrDefault(TimeZoneService.DefaultTimezoneId);
    var tzDrugstore = TimeZoneService.GetTimeZoneByIdOrDefault(Model.Drugstore.Timezone);

    var startTimeDefault = TimeZoneInfo.ConvertTime(Model.StartTime, tzDefault);
    var startTimeDrugstore = TimeZoneInfo.ConvertTime(Model.StartTime, tzDrugstore);

    var cardFormattedId = Model.Card.GetFormattedId();
    @form.GroupFor(m => startTimeDefault).Label("Дата/время").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => m.Drugstore.Name).Label("Аптека").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => startTimeDrugstore).Label("Дата/время аптеки").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => cardFormattedId).Label("Листовка").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => m.StepNumber).Label("Этап").Control(Bootstrap.Input().Disabled())
    @form.GroupFor(m => m.ConfirmationCode).Label("Проверочный код").Control(Bootstrap.Input().Disabled())

    using (var row = Bootstrap.BeginGridCol(new GridSize(4, 4, 4, 4, 4)))
    {
        <label>Сканы чеков</label>
    }
    using (var row = Bootstrap.BeginGridCol(new GridSize(8, 8, 8, 8, 8)))
    {

        if (scans == null || scans.Count() == 0)
        {

            @Bootstrap.Alert(AlertType.WarningOrange, "Внимание! Скан\\фото черка для транзакции не найден!")
        }
        else
        {
            using (var list = Bootstrap.BeginList(ListType.Inline))
            {
                foreach (var scan in scans)
                {
                    using (list.BeginItem())
                    {
                        <a href="@Url.Action(Files.GetImageRoute(Model.Id, scan))" data-lightbox="scans"><img src="@Url.Action(Files.GetImageRoute(Model.Id, scan))" height="150" /></a>
                    }

                }

            }
        }

    }

    using (form.BeginGroupFor(m => m.Status, "Результат проверки"))
    {
        @Bootstrap.Radio(TransactionStatus.Validated, TransactionStatus.Validated.GetDescription())
        @Bootstrap.Radio(TransactionStatus.Rejected, TransactionStatus.Rejected.GetDescription())
    }

    @form.GroupFor(m => comment).Label("Примечание").Control(Bootstrap.Textarea())

    @Bootstrap.Alert(AlertType.WarningOrange, "Внимание! Действие нельзя будет отменить. Хорошенько подумайте. Если у вас есть сомнения - свяжитесь с аптекой и выясните интересующие детали.")

    using (form.BeginGroup())
    {
        @Bootstrap.Button(ButtonType.PrimaryBlue, "Сохранить").Size(ButtonSize.Large)
        @Bootstrap.Button(ButtonType.SecondaryWhite, "Отмена").Href(Transactions.IndexUnvalidatedRoute())
    }
}
