﻿@model IndexViewModel
@{
    ViewBag.Title = "Аптека";
    ViewBag.Subtitle = "Добро пожаловать";
    ViewBag.TitleAsDisplay = true;
}
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.GridCol(0, 8, 6, 5, 4).Offset(0, 2, 0, 0, 0).BeginContent())
    {
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Новый покупатель</h4>
                <p><small class="card-text text-muted">Для начала обслуживания нового покупателя введите номер его телефона и нажмите кнопку «Начать обслуживание»</small></p>
                @using (Bootstrap.BeginForm())
                {
                    using (Bootstrap.FormGroupFor(m => m.Phone).BeginContent())
                    {
                        <div class="input-group">
                            <span class="input-group-addon">+7</span>
                            @Bootstrap.Input().Placeholder("903 123-45-67").Attribute("autocomplete", "off").Attribute("autofocus", "autofocus").Attribute("pattern", @"((\+7)|8)?\s*(\d[()-]*){10}")
                        </div>
                    }
                    @Bootstrap.ValidationSummary()
                    @Html.AntiForgeryToken()

                    if (Model.PhoneNumberNotParsed)
                    {
                        @Bootstrap.Alert(AlertType.DangerRed, "Номер телефона не распознан. Пожалуйста, укажите номер телефона в виде ХХХ ХХ-ХХ-ХХ")
                    }
                    @Bootstrap.FormGroup().CssClass("m-b-0 text-xs-center").Content(Bootstrap.Button(ButtonType.WarningOrange, Html.Raw("<i class=\"fa fa-cogs\" aria-hidden=\"true\"></i> "), "Начать обслуживание"))
                }
            </div>
        </div>
    }
    using (Bootstrap.GridCol(0, 0, 6, 7, 8).BeginContent())
    {
        var haveCompletedTrans = Model.CompletedTransactions != null && Model.CompletedTransactions.Count > 0;
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Продажи, ожидающие скан/фото чека</h4>
                <p><small class="card-text text-muted">Согласно правилам Программы, <strong>оригинал</strong> фискального чека должен быть сфотографирован/отсканирован, и фото (скан) чека должно быть обязательно приложено к транзакции.</small></p>
                @if (!haveCompletedTrans)
                {
                    <p class="text-success m-b-0">Всё хорошо. Нет ни одной продажи, к которой бы ещё не был прикреплён чек.</p>
                }
                @if (haveCompletedTrans)
                {
                    using (var table = Bootstrap.BeginTable(TableStyles.Small | TableStyles.Striped))
                    {
                        foreach (var item in Model.CompletedTransactions)
                        {
                            using (table.BeginRow())
                            {
                                @table.TD(item.StartTime.ToString())
                                @table.TD(item.ConfirmationCode)
                                @table.TD(Bootstrap.Button(ButtonType.SecondaryWhite, Html.Raw("<i class=\"fa fa-camera\" aria-hidden=\"true\"></i> "), "Приложить").Outline().Size(ButtonSize.Small).Href(Transactions.AddScanRoute(item.Id)))
                            }
                        }
                    }
                }
            </div>
        </div>
    }
}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Служба поддержки</h4>
        <p class="card-text">При затрудениях/проблемах при обслуживании покупателей по программам Сооплаты пожалуйста звоните по бесплатному телефону службы поддержки компании Сооплата: <strong>8-800-100-60-33</strong>. Внимание! Служба поддержки работает <strong>с 9 до 19ч по московскому времени</strong>!</p>
    </div>
</div>
