﻿@{
    ViewBag.Title = "Отказ";
    ViewBag.Subtitle = ViewBag.Phone;
    ViewBag.TitleAsDisplay = true;
}
<div class="lead">
    <p class="text-danger">К сожалению, по телефону <code>@ViewBag.Phone</code> на данный момент не разрешена продажа препарата по программе.</p>
    <p class="text-danger">Более подробно причину отказа покупатель сможет узнать если <em><strong>самостоятельно</strong></em> обратится в службу поддержки пациентов по телефону, указанному в его памятке. Сотруднику аптеки эти сведения раскрыты быть не могут.</p>
    <p>Дальнейшее обслуживание данного покупателя должно проводиться по тем же условиям, что и обслуживание "обычных" покупателей аптеки.</p>
    <p>&nbsp;</p>
    <a class="btn btn-lg btn-warning" href="@Url.Action(Home.IndexRoute())">Вернуться на предыдущую страницу</a>
</div>