﻿@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager
@if (await authorizationService.AuthorizeAsync(User, null, Startup.PolicyNameManager))
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action(Drugstores.IndexRoute())">@Drugstores.Title</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Регистрации</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="@Url.Action(Cards.ListForValidationRoute())">Непроверенные регистрации</a>
                <a class="dropdown-item" href="@Url.Action(Cards.ListForValidatedRoute())">Проверенные регистрации</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Транзакции</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="@Url.Action(Transactions.IndexRoute())">Все транзакции</a>
                <a class="dropdown-item" href="@Url.Action(Transactions.IndexUnvalidatedRoute())">Непроверенные транзакции</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action(Reports.IndexRoute())">@Reports.Title</a>
        </li>
    </ul>
}

<ul class="nav navbar-nav pull-sm-right">
    @if (await authorizationService.AuthorizeAsync(User, null, Startup.PolicyNameAdmin))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Админ</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="@Url.Action(CardImport.ImportRoute())">Импорт листовок</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@Url.Action(Users.IndexRoute())">Пользователи</a>
                <a class="dropdown-item" href="@Url.Action(Home.LogsRoute())">Логи</a>
                <a class="dropdown-item" href="@Url.Action(Olekstra.VirusaNet.Public.Controllers.Home.AboutRoute())">О системе</a>
            </div>
        </li>
    }

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">@userManager.GetUserName(User)</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript: document.getElementById('logoutForm').submit()">Выход</a>
        </div>
    </li>
</ul>

@using (Html.BeginForm(FormMethod.Get, new { @id = "logoutForm", action = Url.Action(Olekstra.VirusaNet.Public.Controllers.Account.LogoutRoute()) }))
{
    // Nothing
}
