﻿@model List<string>
@using System.Collections.Generic
@using System.Reflection;
@{
    var ass = typeof(Startup).GetTypeInfo().Assembly;

    //var title = ass.GetCustomAttribute<AssemblyTitleAttribute>().Title;
    var ver = "v" + ass.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;

    ViewBag.ContainerFluid = true;

    ViewBag.Title = "Логи";
    ViewBag.Subtitle = ver;
}

<table class="table table-sm table-hover" style="font-size: 0.85rem;">
    <tbody>
        @foreach(var item in Model)
        {
            @Html.Raw("<tr><td>")
            @item
            @Html.Raw("</td></tr>")
        }
    </tbody>
</table>