﻿@inject Microsoft.Extensions.Configuration.IConfigurationRoot configuration
@{
    ViewBag.Title = Reports.Title;
    ViewBag.Subtitle = "генерация и выгрузка";
    ViewBag.TitleAsDisplay = true;

    var token = Html.AntiForgeryToken();
}
@using (Bootstrap.Form().Href(Url.Action(Reports.ReportByCardsRoute())).BeginContent())
{
    @token
    @Bootstrap.Button(ButtonType.InfoCyan, "Отчет по листовкам").Size(ButtonSize.Large).Outline()
}
<br/>
@using (Bootstrap.Form().Href(Url.Action(Reports.ReportByCardStepsRoute())).BeginContent())
{
    @token
    @Bootstrap.Button(ButtonType.InfoCyan, "Отчет по покупкам").Size(ButtonSize.Large).Outline()
}
<br />
<h5>Секретные ссылки</h5>
<p>@Bootstrap.Anchor("Отчет по листовкам").Href(Reports.ReportByCardsRoute(configuration["ExportKey"]))</p>
<p>@Bootstrap.Anchor("Отчет по покупкам").Href(Reports.ReportByCardStepsRoute(configuration["ExportKey"]))</p>
