﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@{ 
    Layout = "~/Public/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Ой";
    ViewBag.Subtitle = "Доступ запрещен";
    ViewBag.TitleAsDisplay = true;
}

<p class="lead">Вам не разрешён вход в систему.</p>
<p class="lead">Если вы считаете, что это неправильно, то обратитесь пожалуйста в службу поддержки.</p>
<p><a class="btn btn-outline-primary" href="@Url.Action(Account.LoginRoute())">Попробовать еще раз</a></p>
