﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@{
    Layout = "~/Public/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Представьтесь";
    ViewBag.Subtitle = "пожалуйста";
    //ViewBag.TitleAsDisplay = true;

    var login = string.Empty;
    var passwd = string.Empty;
}

<p class="lead">Доступ в закрытую часть системы возможен только для зарегистрированных пользователей. <br /> Используйте предоставленный вам логин и пароль, или войдите с помощью связанной учетной записи.</p>

@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.GridCol(0, 8, 6, 5, 4).Offset(0, 2, 1, 2, 2).BeginContent())
    {
        using (var form = Bootstrap.BeginForm())
        {
            @Bootstrap.ValidationSummary();

            @Html.AntiForgeryToken()
            @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)

            @form.GroupFor(m => login, "Логин").Control(Bootstrap.Input().Attribute("autofocus", "autofocus"));
            @form.GroupFor(m => passwd, "Пароль").Control(Bootstrap.Input(BootstrapMvc.InputType.Password));
            @form.Group().Content(Bootstrap.Button(ButtonType.SuccessGreen, "Войти").Size(ButtonSize.Large).BlockSize());
        }

        if (ViewBag.LoginProviders != null)
        {
            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p class="lead m-y-3">
                        @foreach (AuthenticationDescription p in ViewBag.LoginProviders)
                        {
                            <button type="submit" class="btn btn-sm btn-link" id="@p.AuthenticationScheme" name="provider" value="@p.AuthenticationScheme" title="Войти, используя аккаунт в @p.DisplayName">Войти через связанный аккаунт @p.AuthenticationScheme</button>
                        }
                    </p>
                </div>
            }
        }
    }
}